.todo {
  margin: 30px;
  padding: 10px;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow:  10px 10px 21px #bebebe,
  -10px -10px 21px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  min-width: 300px;
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      margin-bottom: 0;
      margin: 5px;
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    button {
      margin: 5px;
      min-width: 100px;
    }
  }
}
